@import 'node_modules/modern-normalize/modern-normalize.css';
a {
    text-decoration: none;
}

a {
    color: #212121;
    ;
}

a.correo {
    color: #757575;
}

a.numero-telefonico {
    color: #757575;
}
.logo{
    color: #2196F3;
    font-family: 'Raleway', sans-serif;
    font-style: Bold;
    font-size: 26px;
    line-height: 31px;
    line-height: 100%;
    vertical-align: top;
    letter-spacing: 3%;
}
