@import "node_modules/modern-normalize/modern-normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
a {
  text-decoration: none;
}
.correo-header {
  color: #757575;
}

.numero-telefonico-header {
  color: #757575;
}
.logo {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-style: bold;
  font-size: 26px;
  line-height: 1.19;
  text-align: right;
  vertical-align: top;
  letter-spacing: 3%;
}
.solicite-nuestro-servicio {
  background-color: #2f303a;
}
h1 {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: black;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  vertical-align: top;
  letter-spacing: 6%;
}
.boton {
  color: #ffffff;
  background-color: #2196f3;
  font-family: "Roboto", sans-serif;
  font-style: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 6%;
}
a:hover {
  color: #2196f3;
}
body {
  background-color: white;
  color: #212121;
  font-family: "Roboto", sans-serif;
}
p {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  text-align: left;
  vertical-align: top;
  letter-spacing: 3%;
}
.links {
  font-family: "Roboto", sans-serif;
  font-style: black;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  vertical-align: top;
  letter-spacing: 2%;
  color: #212121;
}
a:focus{
  color: #2196f3;
}
footer {
  background-color: #2f303a;
}
.direccion-mexico-footer {
  color: #ffffff;
}
.correo-footer {
  color: rgba(255, 255, 255, 0.6);
}
.numero-telefonico-footer {
  color: rgba(255, 255, 255, 0.6);
}
li {
  list-style-type: none;
}
.titulo-imagen {
  font-family: "Roboto", sans-serif;
  font-style: bold;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  vertical-align: top;
  letter-spacing: 6%;
}
.botones-portafolio:hover {
  background-color: #2196f3;
  color: #ffffff;
}
.botones-portafolio:focus{
  color: #ffffff;
  background-color: #2196f3;
}
h2{
  font-family: "Roboto", sans-serif;
  font-style: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  vertical-align: top;
  letter-spacing: 3%;
}
h3{
  font-family: "Roboto", sans-serif;
  font-style: bold;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  vertical-align: top;
  letter-spacing: 6%;
}
.botones-portafolio{
  font-family: "Roboto", sans-serif;
  font-style: medium;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  vertical-align: top;
  letter-spacing: 3%;
}
button{
  cursor: pointer;
}